*{
    margin: 0%;
    padding: 0%;
}

.container{
    width:50%;
    margin:25%;
    border: 2px solid;
     
}
header{
    background-color: rgb(255,200,255);
    height:20vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
section{
    height:50vh;
    display:flex;
    width:100%;
    
}
article{
    background-color: rgb(255,255,255);
    width:70%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
aside{
    background-color: rgb(255,153,255);
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}
footer{
    background-color: rgb(203,135,246);
    height:20vh;display:flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}